* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Changa One';
}

h2 {
	margin-bottom: 0;
}
a, p, h2,h3{
	font-family: 'Titillium Web';
}

p,.contact-list a{
	color: rgba(0,0,0,.7);

}

a {
	font-weight: 500;
}

.wrapper {
	min-height: 100vh;
}

.selected {
	color: black;
	text-decoration: line-through;
}
.header-container h1 {
	margin-top: 0;
}
.header-container {
	background-color: white;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .7);
	padding: 1em;
	position: relative;
}



/******************************************/
.header-container,.main-footer,.banner{
	text-align: center;
	color: black;
}


.logo-info h1 {
	margin-bottom: 0;
}

.logo-info h3 {
	margin-top: 0;
}

.nav-bar ul li {
	display: inline-block;
	margin-bottom: 1em;
}

.nav-bar ul li a {
	padding: .25em .75em;
	color: black;
}

.nav-bar ul li a:hover {
	color: 
}

.nav-bar ul li:hover {
	color: black;
}


.banner {
	background-color: 
	color: #fff;
	padding: 2.25em;
}

.banner h1:hover,.banner h3:hover {
	color: rgba(0, 0, 0, .75);
}



.home-container,.portfolio-container,.about-container,.contact-container {
	text-align: center;
}

.home-container img {
	width: 120px;
}

.home-container div {
	margin-top: 1.5em;
}

.wst {
	margin-bottom: 4em;
}

.website,.music {
	background-color: rgba(0,0,0, .1);
	padding: 1.15em 0;
}

.divide {
	padding: 1em 1em;
}

.work-gallery {
	text-align: center;
}

.work-gallery li {
	margin: 1.5em;
}
.work-gallery img {
	width: 100%;
	height: 100%;
}

.contact-list li{
	margin-bottom: 2em;
}
.contact-list li a {
	background-size: 35px;
	background-repeat: no-repeat;
	padding: 5px 10px 10px 50px;
}

.contact-list .phone {
	background-image: url(../images/smartphone.png);
}

.contact-list .facebook {
	background-image: url(../images/facebook.png);
}

.contact-list .twitter {
	background-image: url(../images/twitter.png);
}

figure {
	margin: 0;
	line-height: 0;
  position: relative;
}

figcaption {
  font-size: .9em;
  line-height: 1.5em;
  color: #fff;
  padding: 1em;
  background: rgba(17,153,255, .65);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}



.page-title-info {
	margin-top: 0;
	padding-top: 1em;
}




.clearfix:after {
	content:"";
	display: table;
	clear: both;
}
div {
    background: url(imgages/inabel.jpg);
    background-size: 80px 60px;
    background-repeat: no-repeat;
}