h1{
	background-color:red;
	}
	table{
	background-color:gray;
	}
	tr{
	background-color:gray;
	}
	td{
	background-color:black
	}
	a:link, a:visited{
	background-color:black;
	color:gray
	}
	a:hover, a:active{
	background-color:black;
	color:gray;

}