

@media screen and (min-width: 480px) {
	.me {
		float: left;
		margin: auto 2em;
	}

	.about-container p {
		margin-right: 2em;
	}
}

@media screen and (min-width: 768px) {

	.header-container {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}

	body {
		padding-top: 177.717px ;
	}

	.work-gallery li {
		width: 26%;
		display: inline-block;
	}

	figcaption {
	  font-size: .9em;
	  line-height: 1em;
	  padding: .5em .5em;
	  width: 100%;
	  text-align: left;
	}

	figcaption h4 {
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	


}

@media screen and (min-width: 1024px) {

	.logo-info {
		float: left;
		text-align: left;
	}

	.nav-bar {
		float: right;
		margin-top: 1.75em;
	}
	.about-container,.contact-container,.ewan {
		width: 80%;
		margin: 0 auto;
	}



	body {
		padding-top: 117px;
	}

	.logo-info h3 {
		margin-bottom: 0;
	}

	.wst,.website,.application,.music {
		margin-top: 0;
		width: 50%;
		margin: 0 auto;
		background-color: white;
		border-bottom: 3px dotted black;
	}



	.website-info,.application-info,.music-info {
		text-align: justify;
		padding-right: 3em;
		padding-left: 3em;
	}

	.website-logo {
		float: left;
		width: 20%;
	}

	.website-info {
		float: right;
		width: 80%;
		padding-right: 3em;
	}



	.application-logo {
		float: right;
		width: 20%;
	}

	.application-info {
		float: left;
		width: 80%;
		padding-left: 3em;
	}

	.music-logo {
		float: left;
		width: 20%;
	}

	.music-info {
		float: right;
		width: 80%;
		padding-right: 3em;
	}

}

@media screen and (min-width: 1300px) {

	.ewan {
		width: 90%;
	}

	.contact-container {
		width: 65%;
		margin: 0 auto;
	}

	.general-info,.contact-details {
		width: 50%;
		float: left;
	}

	.contact-list li {
		display: inline-block;
		padding-right: 1.25em;
	}

	.contact-details p {
		margin-top: 0;
	}

	.about-container {
		width: 50%;
	}

	.portfolio-container {
		width: 80%;
		margin: 0 auto;
	}













}


